# Ignore the node_modules directory in the "backend" and "youtube-sentiment" folders
backend/node_modules/
youtube-sentiment-node_modules/

# Ignore the .env files
analyses/.env
backend/.env

# Ignore the data, docs, and .vscode directories
data/raw/
docs/mydocs/
.vscode/

# Ignore the __pycache__ directories within the "analyses" and "analyses/src" folders
analyses/__pycache__/
analyses/src/__pycache__/
analyses/src/video/__pycache__/
analyses/src/comment-threads/__pycache__/
analyses/.ipynb_checkpoints/

