.search-button {
    margin: 5px;
    background-color: rgb(0, 47, 70);
    border-radius: 5px;
}

.video-form {
    background-color: rgb(120, 112, 213);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}