.page-content {
    margin-top: 75px; /* Adjust the value to match the height of your navbar */
    margin-left: 20px;
}

.page-description {
    margin: 20px;
    font-style: italic;
    font-size: 32px;
}

.manifest-buttons-container {
    display: flex;
    background-color: darkblue;
    border-radius: 10px;
 }
 
 .video-manifest {
    margin-bottom: 20px;
 }